<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    
  <div class="container">
    <br>
    
    <br>
    <table class="table">
      <tr>
        <th>COURSE ID</th>
        <th>COURSE NAME</th>
        <th>CREDIT HOURS</th>
        <th>ACTION</th>
      </tr>
      <% for(var i = 0; i < courses.length; i++) { %>
        <tr>
          <td><%= courses[i].course_prefix + courses[i].course_id %></td>
          <td><%= courses[i].course_name %></td>
          <td><%= courses[i].credit_hours %></td>
          <!-- add course button -->
          <td>
            <form action="/courses/add" method="POST">
            <input type="hidden" name="course_info[]" value="<%= courses[i].course_prefix %>">
            <input type="hidden" name="course_info[]" value="<%= courses[i].course_id %>">
            <button type="submit" class="btn btn-outline-success">ADD</button>
            </form>
          </td>
        </tr>
      <% } %>
    </table>    
  </div>

</main>

<%- include ('../partials/footer') %>